		
   		
<div ng-controller="findmybuddyctrl">
<div class="col-md-12 ser-grid">
    <h4>Travellers alike you...</h4>
	    <table class="table">
			<tr>
				
			</tr>
			<tr ng-repeat="data in userList">
				<td>{{data.emailaddress}}
				</td>
			</tr>
		</table>
</div>
</div>

    
